@page "/"
@using IotHomeService.App.Services.Interfaces
@using IotHomeService.App.Pages.Components;
@using IotHomeService.Model
@inject IReadingsNotifier ReadingsNotifier;
@inject IReadingsService ReadingsService;
@implements IDisposable;

<h1>Home</h1>
<DateTimeField @bind-DateTime="_from" />
<DateTimeField @bind-DateTime="_to" />
<Button Clicked="@OnFilterClicked">Filter</Button>

<MyChart @ref="_decimalChart" />

@code {
    private DateTime _from = DateTime.Today;
    private DateTime _to = DateTime.Today.AddDays(1);

    private MyChart _decimalChart;

    public void Dispose()
    {
        ReadingsNotifier.NewReadingsAppeared -= OnNewReadingsAppeared;
    }

    protected override async Task OnInitializedAsync()
    {
        ReadingsNotifier.NewReadingsAppeared += OnNewReadingsAppeared;
    }

    private async Task OnNewReadingsAppeared(SensorDetails sensor, SensorReading reading)
    {
        await InvokeAsync(async () =>
        {
            if (reading.Date >= _from && reading.Date <= _to)
            {
                await OnFilterClicked();
            }
        });
    }

    private async Task OnFilterClicked()
    {
        if (_from > _to)
        {
            return;
        }

        await _decimalChart.ShowChart(_from, _to);
    }
}
